

.plans__cards {
    justify-content: center;
}

.love__cards--content, .learn__card {
    width: 70%;
    
}

.learn__card{
    width: 80%;
    align-self: center;
}

.footer__up--input,  .footer__up--button{
    display: block;
}

.love__hero--left .plans--title::after{
    content: " WITH LOVE";
    color: var(--orangeTitle);
}

.plans--subtitle{
    display: none;
}

.recipies__discover p:nth-child(2){
    text-align: center;
}

.recipies__experts--text{
    text-align: center;
}

