
:root{
    --backgroundblack: #272727;
    --backgroundwhite: #EFF1E5;
    --backgroundgorange:#FF9543;
    --backgroundcard:#373637;
    --textwhite : #F3F3F3;
    --textblack: #292828;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.nav{
    width: 100%;
    height: 45px;
    background-color: var(--backgroundblack);
    
}

.nav .nav__menu{
    display: flex;
    justify-content: flex-end;
    height: inherit;
    align-items: center;
    margin-right: 12px;
}

.nav .nav__menu li{
    list-style: none;
    color: var(--textwhite);
    font-weight: 600;
    margin-right: 16px;
    font-size: 1.4rem;
    cursor: pointer;  
}

.nav .nav__menu li:hover{
    color: var(--backgroundgorange);
}


.home{
    width: 100%;
    background-color: var(--backgroundwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home .home__title{
    margin: 16px 0 24px 0;
    font-size: 2.8rem;
    color: var(--textblack);
    font-weight: 500;
    line-height: 27px;
    text-align: center;
}

.home .home__card{
    background-color: white;
    border-radius: 8px;
    width: 236px;
    height: 321px;
    padding: 18px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 28px;
}

.home .home__card img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.home .home__card h3{
    font-size: 1.8rem;
    text-align: center;
    color: var(--textblack);
    font-weight: 700;
    margin-bottom: 4px;
}

.home .home__card p{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--textblack);

}
