 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --backgroundBlack: #202223;
    --backgroundButtons: #FE903F;
    --orangeTitle: #EA6300;
    --backgroundCards: #2C2E30;
    --textWhite: #EFF1E5;
    --textBlack: #292828;
    --silvercard: #BFBFBF;
    --goldcard: #F9DE4F;
    
}

.arrow__up{
    background-image: url('../Assets/img/arrowUp.png');
}
.arrow__down{
    background-image: url('../Assets/img/arrowDown.png');
}

.arrow__up, .arrow__down{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 40px;
    padding-left: 16px;
}

header{
    width: 100%;
    background-color: var(--backgroundBlack);
}

.nav{
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem 0;
    
}   

.nav__brand p{
    color: var(--orangeTitle);
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 4rem;
}

.nav__brand span{
    color: var(--textWhite);
    font-weight: 400;
    font-size: 3rem;
}

.nav__menu{
    display: flex;
}

.nav__menu .nav__menu--items{
    list-style: none;
    color: var(--textWhite);
    display: flex;
    align-items: center;
}

.nav__menu .nav__menu--items li{
    font-size: 1.5rem;
    padding-right: 3.4rem;
    font-weight: 200;
    cursor: pointer;
    background-color: var(--bronzecard);
}

.nav__menu .nav__menu--items li:hover{
    color: var(--backgroundButtons);
    letter-spacing: 0.1rem;
}

.main__button{
    width: 110px;
    background-color: var(--backgroundButtons);
    border: none;
    padding: 10px 0;
    color: var(--textWhite);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.hero__container{
    width: 100%;
    background-color: var(--backgroundBlack);
    letter-spacing: 2px;
    padding-bottom: 12px;
    
}

.hero__container--content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr); 
    justify-items: center;
    align-items: center;

}


.hero__love{
    grid-column: 2 / 3;
    display: flex; 
    align-items: center; 
    justify-content: center;
    
    
}



.hero__love--text p:nth-child(1), .hero__recipies--text p:nth-child(1){
    color: var(--textWhite);
    font-size: 1rem;
    letter-spacing: 0.3rem;    
} 


.hero__love--text p:nth-child(2), .hero__recipies--text p:nth-child(2){
    color: var(--backgroundButtons);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
} 

.hero__love--text p:nth-child(3), .hero__recipies--text p:nth-child(3){
    color: var(--textWhite);
    font-size: 1rem;
    letter-spacing: 0.3rem;  
} 

.hero__recipies{
    grid-column: 6 / 7;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

.hero__title{
    grid-row: 2 / 3;
    grid-column: 1/ 9 ;
    line-height: 5.5rem;
    
}

.hero__title p:first-child{
    color: var(--orangeTitle);
    font-size: 8rem;
    letter-spacing: 0.8rem;
}

.hero__title p:last-child{
    color: var(--textWhite);
    font-size: 3rem;
    letter-spacing: 0.8rem;
    text-align: center;
}

.hero__line--left{
    grid-row: 3 / 4;
    grid-column: 2/ 4;
    width: 100%;
    display: grid;
    justify-items: end;
}

.hero__line--left div{
    width: 80%;
    border-top: 2px solid var(--orangeTitle);
}

.hero__button{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.hero__line--right{
    grid-row: 3 / 4;
    grid-column: 5 / 7;
    width: 100%;
    display: grid;
    justify-items: start;
} 

.hero__line--right div{
    width: 80%;
    border-top: 2px solid var(--textWhite);
} 

.health__container{
   width: 80%;
   margin: 0 auto;
}

.health__content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2.2rem 0 5.4rem 0;
    row-gap: 36px;

}



.health__pocket{
    width: 100%;   
}

.health__pocket h2{
    font-size: 5rem;
    color: var(--textBlack);
    letter-spacing: 0.8rem;
    
}

.health__pocket p:nth-child(2){
    font-size: 2.5rem;
    color: var(--textBlack);
    letter-spacing: 0.8rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.health__pocket p:nth-child(3){
    font-size: 1.5rem;
    width: 65%;
    color: var(--textBlack);
    padding-top: 2rem;
    font-weight: 300;

}

.health__hamburguer{
    width: 100%;
}

.health__hamburguer--saving{
    display: flex;
    justify-content: end;
}





.health__hamburguer--saving p:nth-child(1),.health__hamburguer--saving p:nth-child(3) {
    color: var(--textBlack);
    font-size: 1rem;
    letter-spacing: 0.3rem;  
}

.health__hamburguer--saving p:nth-child(2){
    color: var(--orangeTitle);
    font-size: 1rem;
    letter-spacing: 0.3rem; 
}

.up{
    rotate: 180deg;
}

.health__plans{
    width: 100%;
}

.health__plans h3{
    font-size: 5rem;
    color: var(--textBlack);
    letter-spacing: 0.8rem;
    
}

.health__plans p{
    font-size: 1.5rem;
    width: 65%;
    color: var(--textBlack);
    font-weight: 300;
    
}

.health__free{
    width: 100%;
    display: flex;
    justify-content: end;
   
}

.health__free--text p:first-child, .health__free--text p:last-child {
    color: var(--textBlack);
    font-size: 1rem;
    letter-spacing: 0.3rem;

}

.health__free--text p:nth-child(2){
    color: var(--orangeTitle);
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.plans__container{
    width: 80%;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    margin: 0 auto;
    padding-bottom: 2.2rem;
    row-gap: 3rem;
    row-gap: 2.6rem;    
    justify-items: center ;
    
  
}

.plans__container--bronze{
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}



.silver{
    background-color: var(--silvercard);
}

.gold{
    background-color: var(--goldcard);
}

.bronze{
    background-color: #E5BF5C;
}


.bronze__hero{
   padding: 0.9rem 0 0.9rem 1.6rem;
   width: 100%;
   color: var(--textBlack);
   border-radius: 8px;
}


.bronze__hero p:nth-child(1){
    font-size: 1.6rem;
    font-weight: 700;
   
}

.bronze__hero p:nth-child(2){
    font-size: 5.4rem;
    font-weight: 700;
    padding-top: 1.5rem;
   
}

.price{
    color: var(--textBlack);
    padding-top: 1.5rem;

}

.price span:nth-child(1),.price span:nth-child(3){
    font-size: 2rem;
    font-weight: 400;
}

.price span:nth-child(1){
    position: relative;
    bottom: 8px;
}

.price span:nth-child(3){
    position: relative;
    bottom: 26px;
}

.price span:nth-child(2){
    font-size: 5.4rem;
    font-weight: 700;
}


.price span:nth-child(4){
    font-size: 3rem;
    font-weight: 300;  
}

.price span:nth-child(5){
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    bottom: 4px;  
}

.bronze__hero p:last-child{
    font-size: 1.2rem;
    font-weight: 300;
    
    
}

.bronze__plans{
    padding: 24px 0 24px 16px;
}

.check__icon{
    display: flex;
    gap: 8px;
    padding-bottom: 8px;   
   
}

.check__icon::before{
  content: "";
   display: inline-block;
   width: 12px;
   height: 12px;
   background-image: url('../Assets/icons/checkplans.svg');
   background-repeat: no-repeat; 
   background-position: center;
   background-size: contain;
}

.bronze__plans p{
    font-size: 1.2rem;
    color: var(--textBlack);
    font-weight: 400;
}

.bronze__button {
    align-self: center;
    padding-bottom: 2.4rem;
}

.bronze__button button{
    border-radius: 5rem;
    border: none;
    padding: 10px 30px;
    font-size: 1.4rem;
    color: var(--textBlack);
    font-weight: 600;
    align-self: center;
    cursor: pointer;
}



 
 