 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


:root{

     /*colors*/
    --backgroundBlack: #202223;
    --backgroundButtons: #FE903F;
    --orangeTitle: #EA6300;
    --backgroundCards: #2C2E30;
    --textWhite: #EFF1E5;
    --textBlack: #292828;
    --silvercard: #BFBFBF;
    --goldcard: #F9DE4F; 

    /*font-text*/

    --H1 : 3.8rem;
    --H2 : 3rem;
    --H3: 2rem;
    --P : 1.6rem;
    --PLight: 0.9rem;
    --PExtraLight: 0.8rem;

     /*font-weight* 100 300 400 500 700*/

     --thin: 100;
     --light: 300;
     --Regular: 400;
     --medium: 500;
     --bold: 700;

}

.inactive{
  display: none;
  opacity: 0;
  visibility: hidden;
}

body{
  position: relative;
}

.main-container{
  z-index: 1; 
  height: 100vh;
  overflow: hidden;    
}

.loader{
  background-color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s linear forwards;
}

@keyframes loader{
  0%{
      visibility: visible;
      opacity: 1;

  }

  95%{
      visibility: visible;
      opacity: 1;

  }

  100%{
      visibility: hidden;
      opacity: 0;

  }
}

.loader div{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--orangeTitle);
  transform: scale(0);
  animation: scale 1.2s ease-in-out infinite;
  margin: 8px;
}

.loader div:nth-child(1){
  animation-delay: 0.2s;

}

.loader div:nth-child(2){
  animation-delay: 0.4s;
  
}

.loader div:nth-child(3){
  animation-delay: 0.6s;
  
}
@keyframes scale{
  0%,100%{
      transform: scale(1);

  }

  50%{
      transform: scale(.2);

  }
}

header{
    width: 100%;
    background-color: var(--backgroundBlack);
}

.nav{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    
}

.nav__list{
  display: none;
}

.up{
  transform: rotate(180deg);
}

.nav__text {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    cursor: pointer;
    
    
  }
  
  .nav__text p:first-child {
    font-size: 2.8rem;
    color: var(--orangeTitle);
    font-weight: var(--Regular);
    letter-spacing: 0.3rem;
    
  }

  .nav__text p:last-child {
    font-size: 2rem;
    color: var(--textWhite);
    font-weight: var(--light);
    position: relative;
    top: 1.2px;
    letter-spacing: 0.1rem;
  }

  .nav .nav__icon{
        display:inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../Assets/icons/menuMobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: center; 
  }

  

  .mobileMenu{
    width: 50%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    right: 36px;
}
.mobileMenu__header{
    display: flex;
    justify-content: space-between;
    
}

.mobileMenu__logo{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('../Assets/icons/mobileMenuLogo.svg') center/contain no-repeat;
}

.mobileMenu__closeIcon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../Assets/icons/closeIcon.svg') center/contain no-repeat;

}

.mobileMenu__options{
  padding: 26px 0;
}


.mobileMenu__options li{
    list-style: none;
    padding-bottom: 24px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--backgroundCards);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.mobileMenu__options li span{
    width: 10px;
    height: 10px;
    opacity: 0.8;
    display: inline-block;
    background: url('https://i.pinimg.com/564x/a8/e1/99/a8e199ec41a6f909eed018d685e3dd6c.jpg') center/contain no-repeat;  
}

.mobileMenu__actionButton{
    width: 100%;
    padding: 11px 0;
    border-radius: 6px;
    margin-bottom: 24px;
    border: none;
    outline: none;
    border: 2px solid var(--orangeTitle);
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--backgroundCards);
}

.mobileMenu__actionButton:hover{
  border: none;
  background-color: var(--backgroundBlack);
  color: rgb(239, 236, 236);

}



  .hero__container{
    width: 100%;
    background-color: var(--backgroundBlack);
    padding-bottom: 12px;
  }
  .hero__text{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  .hero__text--left,.hero__text--right{
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .hero__text--left{
    animation: left 1.2s ease-in-out 2.2s forwards;
    transform: translateX(-240px)
  }

  @keyframes left{
    from{
      transform: translateX(-240px)

    }

    to{
      transform: translateX(0px)

    }
  }

  .hero__text--right{
    transform: translateX(240px);
    animation: right 1.2s ease-in-out 2.8s forwards;
  }

  @keyframes right{
    from{
      transform: translateX(240px)

    }

    to{
      transform: translateX(0px)

    }
  }


  .arrow__up{
    background-image: url('../Assets/img/arrowUp.png');
  }

  .arrow__down{
    background-image: url('../Assets/img/arrowDown.png');
  }

  .arrow__up, .arrow__down{
    display: inline-block;
    width: 10px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text__up, .text__down{
    font-size:1rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;
  }

  .white{
    color: var(--textWhite);
  }

  .black{
    color: var(--textBlack);
  }
  .silver{
    background-color: var(--silvercard);
  }

  .gold{
    background-color: var(--goldcard);
  }

  .orange{
    color: var(--orangeTitle);
  }

  .bronze{
    background-color: #E5BF5C;
  }

  .text__middle{
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;

  }

  .hero__intro{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    transform: translateY(-180%);
    animation: heroText 1.5s ease-in-out 1.5s forwards;
  }

  @keyframes heroText{
    from{
      transform: translateY(-180%);
    }

    to{
      transform: translateY(0%);
    }
  }

  .hero__intro p:first-child{
    color: var(--orangeTitle);
    font-size: 3.8rem;
    font-weight: var(--medium);
    letter-spacing: 0.4rem;
  }

  .hero__intro p:last-child{
    color: var(--textWhite);
    font-size: 1.6rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;
    line-height: 1.6rem;
  }

  .hero__action{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
  }

  .hero__action--line{
    width: 30%;
    
  }

  .left{
    border-top: 1px solid var(--orangeTitle);
  }

  .right{
    border-top: 1px solid var(--textWhite);
  }

  .main__button{
    border: none;
    padding: 6px 24px;
    color: var(--textWhite);
    background-color: var(--orangeTitle);
    border-radius: 4px;
    cursor:pointer;
    font-size: 1rem;
    font-weight: var(--medium);
    outline: none;
  }

  .plans__container{
    width: 85%;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .plans__content{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: var(--textBlack);
    margin-bottom: 16px;
  }
  .plans__content--left{
    width: 100%;
  }

  .plans--title{
    font-size: 2rem;
    font-weight: var(--medium);
    letter-spacing: 0.2rem;
    
    
    

  }

  .plans--subtitle{
    font-size: 1.6rem;
    font-weight: var(--Regular);
    margin-bottom: 4px;
    line-height: 1.6rem;
    
    
  }

  .plans--desc{
    font-size: 1.3rem;
    width: 85%;
    font-weight: var(--light);
    text-align: justify;
  }
  .plans__pocket--left{
    width: 100%;
  }

  .plans__pocket--right{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 4px;
    justify-content: end;
  }

  .plans__pocket--right-text{
    text-align: center;
  }


  .plans__pocket--right span{
    rotate: 180deg;
  }

  .plans__description--left p:first-child{
    margin-bottom: 4px;
  }

   .plans__cards{
    margin: 0 auto;
    padding: 8px 8px;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  

  .plans__card{
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
  } 

  .plans__card:hover{
    transform: scale(1);
  }

  

  .plans__card--hero{
     border-radius: 8px;
     padding: 12px 12px 16px 12px;
     color: var(--textBlack);
     display: flex;
     flex-direction: column;
     align-items: start;
  }

  .plans__card--hero p:nth-child(2){
    font-weight: var(--bold);
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    line-height: 2.8rem;
    

  }

  .plans__card--hero p:nth-child(1){
    font-weight: var(--bold);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 16px;
  
  }

  .plans__card--hero p:nth-child(3){
    font-weight: var(--light);
    font-size: 1.2rem;
    
  }

  .plans__card--desc{
    padding: 16px 12px 12px 12px;
  }

  .plans__card--desc p{
    display: flex;
    align-items: center;
    gap: 8px;  
    margin-bottom: 4px;  
    color: var(--textBlack);
    font-weight: var(--Regular);
    font-size: 1.2rem;
  }

  .plans__card--desc p::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../Assets/icons/checkplans.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    
  }

  .plans__button{
    align-self: center;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius:40px;
    width: 60%;
    padding: 8px 0;
    cursor: pointer;
    color: var(--textBlack);
    font-size: 1.2rem;
    font-weight: var(--bold);
  }

  .plans__card--price{
    display: flex;
    color: var(--textBlack);
    align-items: center;
    
  }

  .plans__card--price p:nth-child(1){
    font-size: 14px;
    font-weight: var(--medium);
    position: relative;
    top: 7px;


  }

  .plans__card--price p:nth-child(2){
    font-size: var(--H1);
    font-weight: var(--bold);
    
  }

  .plans__card--price p:nth-child(3){
    font-size: 12px;
    font-weight: var(--medium);
    position: relative;
    left: 2px;
    bottom: 9px;
    
  }


  .plans__card--price p:nth-child(4){
    font-size: var(--H3);
    font-weight: var(--medium);
    position: relative;
    top: 2px;
    
  }
  
  .plans__card--price p:nth-child(5){
    font-size: var(--PLight);
    font-weight: var(--light);
    position: relative;
    left: 2px;
    top: 4px;
    
  }

  .love__container{
    width: 100%;
    background-color: var(--backgroundBlack);
    padding: 16px 0;
  }

  .love__hero{
    width: 85%;
    margin: 0 auto;
    padding: 0px 0px 16px 0px;
  }

  .love__hero--left{
    width: 100%;
  }

  .love__values{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px; 
  }

  .love__values p:first-child{
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: var(--medium);
  
  }

  .love__values p:last-child{
    text-align: center;
    font-weight: var(--light);
    font-size: 1rem;
    letter-spacing: 2px;
   
  
  }

  .love__cards{
    width: 100%;
    background-color: var(--backgroundBlack);
  }

  .love__cards--content{
    display: grid;
    width: 85%;
    margin: 0 auto;
    gap: 8px;
  }

  .love__card{
    padding: 12px 12px 20px 12px;
    border-radius: 8px;
    background-color: var(--backgroundCards);
  }

  .love__card p:nth-child(1){
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--Regular);
    margin-bottom: 4px;

  }

  .love__card p:nth-child(2){
    color: var(--textWhite);
    font-size: 2rem;
    font-weight: var(--bold);
    margin-bottom: 4px;
    
  }

  .love__card p:nth-child(3){
    color: var(--textWhite);
    font-size: 1.3rem;
    font-weight: var(--light);
    margin-bottom: 12px;
    text-align: justify;
  }

  .love__card a:nth-child(4){
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--medium);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .love__button{
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  .recipies__container{
    width: 85%;
    margin: 0 auto;
    padding: 16px 0;
  }

  .recipies__discover{
    display: flex;
    flex-direction: column;
    color: var(--textBlack);
    margin-bottom: 16px;
  }

  .recipies__discover p:nth-child(1){
    font-size: 2rem;
    font-weight: var(--medium);
    align-self: center;
    letter-spacing: 0.1rem;
    margin-bottom: 4px;

  }

  .recipies__discover p:nth-child(2){
    text-align: justify;
    font-weight: var(--light);
    font-size: 1.3rem;
  }

  

  .recipies__hero{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textBlack);
  }

  .recipies__hero p:first-child{
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: var(--medium);
  }

  .recipies__hero p:last-child{
    font-weight: var(--light);
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .recipies__cards{
    margin: 0 auto;
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overscroll-behavior-x:contain ;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 8px 8px;
  }

  .recipies__cards--content{
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    scroll-snap-align: start;
    display: flex;
    flex-shrink: 0;
    width: 190px;
    flex-direction: column;
  }

  .recipies__cards--hero{
    background-color: var(--backgroundBlack);
    border-radius: 8px;
    width: 100%;
    height: 100px;
    margin-bottom: 16px;
    
  }

  .recipies__cards--icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../Assets/icons/heartrecipe.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 12px;
    top: 12px;

  }

  .recipies__cards--recipe {
    display: inline-block;
    width: 130px;
    height: 130px;
    position: absolute;
    align-self: center;
   
    
  }

  .one{
    background: url('../Assets/img/recipeone.png') no-repeat center / contain;
    top: -2px;
    width: 120px;
    height: 120px;

  }

  .two{
    background: url('../Assets/img/recipetwo.png') no-repeat center / contain;
    top: 2px;
    width: 123px;
    height: 123px;

  }

  .three{
    background: url('../Assets/img/recipethree.png') no-repeat center / contain;
    width: 120px;
    height: 120px;
    top: 10px;

  }

  .four{
    background: url('../Assets/img/recipefour.png') no-repeat center / contain;
    width: 135px;
    height: 135px;
    top: -2px;

  }

  .five{
    background: url('../Assets/img/recipefive.png') no-repeat center / contain;
    top: 4px;
    width: 155px;
    height: 155px;
    

  }

  .six{
    background: url('../Assets/img/recipesix.png') no-repeat center / contain;
    top: 8px;
    width: 125px;
    height: 125px;

  }
  

  .recipies__cards--info {
    margin-top: 20px;
    padding: 0 16px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .recipies__cards--info p:nth-child(1) {
    color: var(--orangeTitle);
    font-size: 1rem;
    font-family: var(--Regular);
    align-self: center;
    letter-spacing: 1.2px;
  }
  
  .recipies__cards--info p:nth-child(2) {
    align-self: center;
    color: var(--textBlack);
    font-size: 2.5rem;
    font-weight: var(--bold);
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  
  .recipies__cards--info p:nth-child(3) {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: var(--light);
    color: var(--textBlack);
    margin-bottom: 20px;
  }
  
  .recipies__cards--info button:nth-child(4) {
    outline: none;
    border: none;
    background-color: var(--backgroundBlack);
    color: var(--textWhite);
    width: 80%;
    align-self: center;
    border-radius: 50px;
    padding: 7px 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
  }

  .recipies__cards--info button:nth-child(4):hover{
    color: var(--orangeTitle);
  }

  .recipies__button{
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  .recipies__learn{
    background-color: var(--backgroundBlack); 
    padding:16px 0 ;
  }
  .recipies__experts{
    width: 85%;
    margin: 0 auto;
    
  }

  .recipies__experts--hero{
    text-align: center;
    letter-spacing: 0.2rem;
    margin-bottom: 4px;
  }

  .recipies__experts span:nth-child(1){
    color: var(--textWhite);
    font-size: 2rem;
    font-weight: var(--medium);

  }

  .recipies__experts span:nth-child(2){
    color: var(--orangeTitle);
    font-size: 2rem;
    font-weight: var(--medium);
    
  }
  
  .recipies__experts span:nth-child(3){
    color: var(--textWhite);
    font-size: 2rem;
    font-weight: var(--medium);
    
  }

  .recipies__experts p:nth-child(4){
    color: var(--textWhite);
    font-size: 2rem;
    font-weight: var(--medium);
  }

  .recipies__experts--text{
    text-align: justify;
    font-size: 1.3rem;
    font-weight: var(--light);
    margin-bottom: 8px;
    color: var(--textWhite);
  }

  

  .learn__container{
    width: 100%;
    background-color: var(--backgroundBlack);
  }

  .learn__content{
    width: 85%;
    margin: 0 auto;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    
  }

  .learn__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .learn__text p:first-child{
    color: var(--textWhite);
    text-align: center;
    margin-bottom: 4px;
    font-weight: var(--medium);
    font-size: 2rem;
  }

  .learn__text p:first-child span{
    color: var(--orangeTitle);
  }

  .learn__text p:last-child{
    text-align: justify;
    font-size: 1.3rem;
    font-weight: var(--light);
    margin-bottom: 8px;
    color: var(--textWhite);
  }

  

  .learn__experience{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }

  .learn__experience--text{
    text-align: center;
  }

  .learn__experience--text p span{
    color: var(--orangeTitle);
  }

  .learn__experience--text p{
    color: var(--textWhite);
    font-weight: var(--medium);
    font-size: 2rem;
  }

  .learn__card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
  }

  .learn__card--item{
    background-color: var(--backgroundCards);
    border-radius: 8px;
    padding: 12px;
  }

  .learn__card--item p:nth-child(1){
    color: var(--orangeTitle);
    font-weight: var(--Regular);
    font-size: 1rem;
    margin-bottom: 4px;

  }

  .learn__card--item p:nth-child(2){
    color: var(--textWhite);
    font-weight: var(--medium);
    font-size: 2rem;
    margin-bottom: 4px;
    
  }

  .learn__card--item p:nth-child(3){
    text-align: justify;
    font-size: 1.3rem;
    font-weight: var(--light);
    color: var(--textWhite);
  }

  .learn__content button{
    width: min-content;
    margin-top: 8px;
    align-self: center;
  }

  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

  .footer__up {
    width: 85%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__up--left p span{
    color: var(--orangeTitle);
  }

  .footer__up--left p {
    color: var(--textBlack);
    font-weight: var(--medium);
    font-size: 1rem;
    letter-spacing: 1px;
    
  }

  .footer__up--right ul{
    display: flex;
    list-style: none;
  }

  .footer__up--right ul li{
    margin-right: 4px;
    color: var(--textBlack);
    font-weight: var(--medium);
    font-size: 1rem;
    cursor: pointer;
    
  }

  .footer__up--right ul li::after{
    content: " | ";
    color: var(--orangeTitle);
  }

  .footer__up--input {
    height: 32px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out; 
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    width: 260px;
    display: none;
  }
  
  .footer__up--input:focus {
    box-shadow: 0 0 0 1px var(--orangeTitle);
    border-color: var(--orangeTitle);
    outline: none;
  }

  .footer__up--button{
    height: 32px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border:none ;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: var(--orangeTitle);
    color: var(--textWhite);
    position: relative;
    right: 73px;
    cursor: pointer; 
    display: none;
  }


  .footer__down {
    background-color: var(--backgroundBlack);
    padding: 12px 0 16px;
  }

  .footer__down--content{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

  }

  .footer__down--left{
    border-top:1px solid var(--orangeTitle) ;
    width: 18%;
  }

  .footer__down--center p{
    color: var(--textWhite);
    font-size: 1rem;
    font-weight: var(--Regular);
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .footer__down--center p span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../Assets/icons/heartfooter.svg') no-repeat center/contain;
  }
  
  .footer__down--right{
    border-top:1px solid var(--textWhite) ;
    width: 18%;
  }



  

 


  
  

  


  
  




