 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


:root{

     /*colors*/
    --backgroundBlack: #202223;
    --backgroundButtons: #FE903F;
    --orangeTitle: #EA6300;
    --backgroundCards: #2C2E30;
    --textWhite: #EFF1E5;
    --textBlack: #292828;
    --silvercard: #BFBFBF;
    --goldcard: #F9DE4F; 

    /*font-text*/

    --H1 : 2.8rem;
    --H2 : 2.4rem;
    --H3: 2rem;
    --P : 1.6rem;
    --PLight: 0.9rem;
    --PExtraLight: 0.8rem;

     /*font-weight* 100 300 400 500 700*/

     --thin: 100;
     --light: 300;
     --Regular: 400;
     --medium: 500;
     --bold: 700;

}

header{
    width: 100%;
    background-color: var(--backgroundBlack);
}

.nav{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    
}

.nav__text {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    
  }
  
  .nav__text p:first-child {
    font-size: var(--H3);
    color: var(--orangeTitle);
    font-weight: var(--Regular);
    letter-spacing: 0.3rem;
    
  }

  .nav__text p:last-child {
    font-size: var(--P);
    color: var(--textWhite);
    font-weight: var(--light);
    position: relative;
    top: 1.2px;
    letter-spacing: 0.1rem;
  }

  .nav .nav__icon{
        display:inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../Assets/icons/menuMobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: center; 
  }

  .hero__container{
    width: 100%;
    background-color: var(--backgroundBlack);
    padding-bottom: 12px;
  }
  .hero__text{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  .hero__text--left,.hero__text--right{
    display: flex;
    align-items: center;
    gap: 4px;
  }


  .arrow__up{
    background-image: url('../Assets/img/arrowUp.png');
  }

  .arrow__down{
    background-image: url('../Assets/img/arrowDown.png');
  }

  .arrow__up, .arrow__down{
    display: inline-block;
    width: 10px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text__up, .text__down{
    font-size:var(--PExtraLight);
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;
  }

  .white{
    color: var(--textWhite);
  }

  .black{
    color: var(--textBlack);
  }
  .silver{
    background-color: var(--silvercard);
  }

  .gold{
    background-color: var(--goldcard);
  }

  .bronze{
    background-color: #E5BF5C;
  }

  .text__middle{
    color: var(--orangeTitle);
    font-size: var(--PLight);
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;

  }

  .hero__intro{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }

  .hero__intro p:first-child{
    color: var(--orangeTitle);
    font-size: var(--H2);
    font-weight: var(--medium);
    letter-spacing: 0.4rem;
  }

  .hero__intro p:last-child{
    color: var(--textWhite);
    font-size: var(--PLight);
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;
  }

  .hero__action{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
  }

  .hero__action--line{
    width: 30%;
    
  }

  .left{
    border-top: 1px solid var(--orangeTitle);
  }

  .right{
    border-top: 1px solid var(--textWhite);
  }

  .hero__action button{
    border: none;
    padding: 4px 24px;
    color: var(--textWhite);
    background-color: var(--orangeTitle);
    border-radius: 4px;
    cursor:pointer;
    font-size: var(--PLight);
    font-weight: var(--medium);
    outline: none;
  }

  .plans__container{
    width: 85%;
    margin: 0 auto;
    padding: 12px 0;
  }

  .plans__content{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: var(--textBlack);
    margin-bottom: 16px;
  }
  .plans__content--left{
    width: 100%;
  }

  .plans--title{
    font-size: var(--H3);
    font-weight: var(--medium);
    letter-spacing: 0.2rem;
    color: var(--textBlack);
    

  }

  .plans--subtitle{
    font-size: var(--P);
    font-weight: var(--Regular);
    margin-bottom: 4px;
    letter-spacing: 0.2rem;
    
  }

  .plans--desc{
    font-size: var(--PLight);
    width: 85%;
    font-weight: var(--light);
    text-align: justify;
  }
  .plans__pocket--left{
    width: 100%;
  }

  .plans__pocket--right{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 4px;
    justify-content: end;
  }

  .plans__pocket--right-text{
    text-align: center;
  }


  .plans__pocket--right span{
    rotate: 180deg;
  }

  .plans__description--left p:first-child{
    margin-bottom: 4px;
  }

   .plans__cards{
    width: 80%;
    margin: 24px auto 12px auto;
    padding: 12px 8px;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  

  .plans__card{
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    transition: transform 0.3s;
   
  } 

  .plans__card:hover{
    transform: scale(1);
  }

  

  .plans__card--hero{
     border-radius: 8px;
     padding: 12px 12px 16px 12px;
     color: var(--textBlack);
     display: flex;
     flex-direction: column;
     align-items: start;
  }

  .plans__card--hero p:nth-child(2){
    font-weight: var(--bold);
    font-size: var(--H1);
    letter-spacing: 0.2rem;
    line-height: 2.8rem;
    

  }

  .plans__card--hero p:nth-child(1){
    font-weight: var(--bold);
    font-size: var(--PLight);
    letter-spacing: 0.2rem;
    margin-bottom: 16px;
  
  }

  .plans__card--hero p:nth-child(3){
    font-weight: var(--light);
    font-size: var(--PLight);
    
  }

  .plans__card--desc{
    padding: 16px 12px 12px 12px;
  }

  .plans__card--desc p{
    display: flex;
    align-items: center;
    gap: 8px;  
    margin-bottom: 4px;  
    color: var(--textBlack);
    font-weight: var(--Regular);
    font-size: var(--PLight);
  }

  .plans__card--desc p::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../Assets/icons/checkplans.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    
  }

  .plans__button{
    align-self: center;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius:40px;
    width: 60%;
    padding: 8px 0;
    cursor: pointer;
    color: var(--textBlack);
    font-size: var(--p);
    font-weight: var(--bold);
  }

  .plans__card--price{
    display: flex;
    color: var(--textBlack);
    align-items: center;
    
  }

  .plans__card--price p:nth-child(1){
    font-size: 14px;
    font-weight: var(--medium);
    position: relative;
    top: 7px;


  }

  .plans__card--price p:nth-child(2){
    font-size: var(--H1);
    font-weight: var(--bold);
    
  }

  .plans__card--price p:nth-child(3){
    font-size: 12px;
    font-weight: var(--medium);
    position: relative;
    left: 2px;
    bottom: 9px;
    
  }


  .plans__card--price p:nth-child(4){
    font-size: var(--H3);
    font-weight: var(--medium);
    position: relative;
    top: 2px;
    
  }
  
  .plans__card--price p:nth-child(5){
    font-size: var(--PLight);
    font-weight: var(--light);
    position: relative;
    left: 2px;
    top: 4px;
    
  }

  
  




