.nav__text p:first-child{
    font-size: 4rem;
}

.nav__text p:last-child{
    font-size: 3rem;
}

.nav__icon{
    opacity: 0;
    visibility: hidden;
}

.mobileMenu{
    display: none;
}


.nav__list{
    display: flex;
    list-style: none;
    align-items: center;
}

 .nav__list li{
    font-size: 1.2rem;
    padding-right: 4px;
    font-weight: 300;
    letter-spacing: 1.3px;
    cursor: pointer;
} 

.nav__list li::before{
    content: " | ";
    color: var(--orangeTitle);
}

.nav__list li:hover::before{
    color: var(--textWhite);
}

.nav__list li:hover{
    color: var(--orangeTitle);
}



.arrow__up, .arrow__down{
    height: 38px;
   
}

.text__up,.text__middle,.text__down{
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
}

.hero__intro p:first-child{
    font-size: 6rem;
    letter-spacing: 0.3rem
}

.hero__intro p:last-child{
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    line-height: 1.2rem;
}

.main__button{
    font-size: 1.3rem;
}

.plans--title{
    font-size: 2.5rem;
}

.plans--subtitle{
    font-size: 2rem;
}

.plans--desc{
    font-size: 1.4rem; 
}



.plans__card--hero p:nth-child(1){
    font-size: 2rem;

}

.plans__card--hero p:nth-child(2){
    font-size: 4rem;
    
}

.plans__card--hero p:nth-child(3){
    font-size: 1.2rem;
    
}

.plans__card--desc p{
    font-size: 1.2rem;
}

.plans__button {
    font-size: 1.2rem;
}

.love__cards--content{
    grid-template-columns: repeat(2,1fr);
    
}

.love__card p:nth-child(1){
    font-size: 1.2rem;
    font-weight: var(--light);

}

.love__card p:nth-child(2){
    font-size: 3rem;
    
}

.love__card p:nth-child(3){
    font-size: 1.3rem;
    
}

.love__card a:nth-child(4){
    font-size: 1.2rem;
}

.love__values p:first-child {
    font-size: 3rem;
}

.love__values p:last-child{
    font-size: 1.2rem;
}

.recipies__discover p:nth-child(1){
    font-size: 2.5rem;
}

.recipies__discover p:nth-child(2){
    font-size: 1.4rem;
}

.recipies__hero p:first-child{
    font-size: 2.5rem; 
}

.recipies__hero p:last-child{
    font-size: 1.2rem; 
}

.recipies__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
     
}

.recipies__cards--content {
    width: 100%;
}

.recipies__cards--info p:nth-child(1), .recipies__cards--info button:nth-child(4){
    font-size: 1.2rem;
}

.recipies__cards--info p:nth-child(2){
    font-size: 3rem;
}

.recipies__cards--info p:nth-child(3){
    font-size: 1.4rem;
    
}
.recipies__experts{
    display: flex;
    flex-direction: column;
}

.recipies__experts span:nth-child(1), .recipies__experts span:nth-child(2), .recipies__experts span:nth-child(3),.learn__text p:first-child, .learn__experience--text p{
    font-size: 2.5rem;
}


.recipies__experts span:nth-child(3)::after{
    content: " EXPERTS";
}

.recipies__experts p:nth-child(4){
    display: none;
}

.recipies__experts--text{
    width: 90%;
    align-self:center ;
}

.learn__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px; 
    row-gap: 12px; 
    justify-items: center; 
}

.learn__content button{
    grid-column: 1 / 3;
    width: min-content;
}


.learn__card--item p:nth-child(1){
    font-size: 1.2rem;
    font-weight: var(--light);
}

.learn__card--item p:nth-child(2) {
    font-size: 3rem;
}
.learn__text p:last-child{
    width: 90%;
    align-self: center;
}

.learn__card--item p:nth-child(3),.learn__text p:last-child, .recipies__experts--text {
    font-size: 1.3rem;     
}

.footer__up--left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer__up--left p,.footer__up--right ul li{
    font-size: 1.2rem;
}

.footer__up--right ul li:hover{
    color: var(--orangeTitle);
}

.footer__up--right ul li::after{
    color: var(--textBlack);
}

.footer__down--left, .footer__down--right{
    width: 30%;
}

.footer__down--center p{
    font-size: 1.2rem;
}

.footer__down--center p span{
    width: 12px;
    height: 12px;
}

.recipies__cards{
    overflow-x: hidden;
}




 







