.intro__page{
    background-image: url('../Assets/img/backgroundDesktop.jpg'); 
}

.hero__intro p:first-child{
    font-size: 8.5rem;
}

.hero__intro p:last-child{
    font-size: 3.5rem;
}

.text__up, .text__down{
    font-size: 1.5rem;

}

.text__middle{
    font-size: 1.3rem;

}

.arrow__up, .arrow__down{
    height: 100%;
}

.nav__text p:first-child{
    font-size: 2.8rem;

}

.nav__text p:last-child{
    font-size: 1.8rem;

}

.nav__list li a{
    font-size: 1.8rem;
}

 .shopping__cart{
    width: 40px;
    height: 40px;
}

.main__button{
    width: 200px;
    font-size: 1.6rem;
}

.title{
    font-size: 3.8rem;
  }

  .subtitle{
    font-size: 2.8rem;
    
  }

  .desc{
    font-size: 1.8rem;
  }

  .nav__content--text button{
    font-size: 1.8rem;
    margin-top: 30px;
  }

  .recipies__cards--content{
    width: 260px;

  }

  .recipies__cards--content{
    width: 100%;
  }

  .recipies__cards--icon{
    width: 24px;
    height: 24px;
  }

  .recipies__cards--recipe{
    width: 140px;
    height: 140px;
  }

  .recipies__cards--info p:nth-child(1), .love__card p:nth-child(1){
    font-size: 1.3rem;

  }
  .recipies__cards--info p:nth-child(2), .love__card p:nth-child(2){
    font-size: 2.8rem;

  }
  .recipies__cards--info p:nth-child(3), .love__card p:nth-child(3){
    font-size: 1.6rem;

  }
  .recipies__cards--info button:nth-child(4){
    font-size: 1.5rem;

  }

  .valuesButton,.main__button {
    font-size: 1.8rem;
   
  }

  /*Menu*/

  .menu__one{
    width: 30%;
  }

 .menu__button button{
  font-size: 1.8rem;
 }

 /*Learn content*/

 .learn__card--item p:nth-child(1){
  font-size: 1.3rem;
}

.learn__card--item p:nth-child(2){
  font-size: 2.8rem;
} 

.learn__card--item p:nth-child(3){
  font-size: 1.6rem;
} 




/*Plans content*/





.plans__card--hero p:nth-child(1){
  font-size: 2rem;

}
.plans__card--hero p:nth-child(2){
  font-size: 4rem;

}

.plans__card--hero p:nth-child(3),.plans__card--hero p:nth-child(4),.plans__card--hero p:nth-child(5) {
  font-size: 1.3rem;
}

.plans__card--desc p {
  font-size: 1.4rem;

}
.plans__button{
  font-size: 1.5rem;
} 



@media(min-width: 1700px){
  .plans__pocket , .plans__info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
  }

   .plans__cards{
    justify-content: center;
    width: 50%;
    gap: 16px;
    overflow-x: hidden; 
    padding: 14px;
  } 

  .plans__pocket--icon , .plans__info--icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .plans__pocket--icon{
    background-image: url('../Assets/img/budgetOne.png');
  }

  .plans__info--icon{
    background-image: url('../Assets/img/budgetTwo.png');
  }

  
  
  .plans__card{
    width: 100%;
    margin: 0 auto;
    
  
  }
  
}

/*Footer*/

@media (min-width: 1037px) {
  .footer__up--input,
  .footer__up--button {
    display: block;
    font-size: 1.6rem;
    font-family: inherit;
  }

  .footer__up--button {
    position: relative;
    right: 95px;
  }

  .footer__up--left p {
    font-size: 2rem;
  }

  .footer__up--right ul li,
  .footer__up--left p {
    font-size: 1.6rem;
  }

  .footer__up--right ul li:hover {
    color: var(--orangeTitle);
  }

  .footer__up--right ul li::after {
    color: var(--textBlack);
  }

  .footer__down--center p {
    font-size: 1.5rem;
  }

  .footer__down--center p span {
    width: 18px;
    height: 18px;
  }

  .footer__up--left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .footer__down--left,
  .footer__down--right {
    width: 30%;
  }
}


/*Scroll*/











  

  