*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
    font-family: 'Onest', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Young Serif', serif;
}


:root{

     /*colors*/
    --backgroundBlack: #2d2d2e;
    --backgroundButtons: #FE903F;
    --orangeTitle: #EA6300;
    --backgroundCards: #2C2E30;
    --textWhite: #EFF1E5;
    --textBlack: #292828;
    --silvercard: #BFBFBF;
    --goldcard: #F9DE4F; 

    /*font-text*/

    --H1 : 3.8rem;
    --H2 : 3rem;
    --H3: 2rem;
    --P : 1.6rem;
    --PLight: 0.9rem;
    --PExtraLight: 0.8rem;

     /*font-weight* 100 300 400 500 700*/

     --thin: 100;
     --light: 300;
     --Regular: 400;
     --medium: 500;
     --bold: 700;

}

.inactive{
  display: none !important;
  visibility: hidden;
}

body{
  position: relative;
}

/*Loader*/

.loader{
  background-color: white;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1.5s linear forwards;
}

@keyframes loader{
  0%{
      visibility: visible;
      opacity: 1;

  }

  95%{
      visibility: visible;
      opacity: 1;

  }

  100%{
      visibility: hidden;
      opacity: 0;

  }
}

.loader div{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orangeTitle);
  transform: scale(0);
  animation: scale 1.2s ease-in-out infinite;
  margin: 8px;
}

.loader div:nth-child(1){
  animation-delay: 0.2s;

}

.loader div:nth-child(2){
  animation-delay: 0.4s;
  
}

.loader div:nth-child(3){
  animation-delay: 0.6s;
  
}
@keyframes scale{
  0%,100%{
      transform: scale(1);

  }

  50%{
      transform: scale(.2);

  }
}

/*Shadow*/

.shadow{
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

/*Menu mobile*/

.menu__mobile{
  padding: 12px 8px 20px 8px;
  width: 70vw;
  background-color: #f2f2f2;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  animation-name: moveOut;
  animation-name: moveIn;
  transform: translateX(70vw);
  opacity: 0;
}

.menu__mobile--icon{
  
  display: flex;
  width: 22px;
  height: 22px;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8px;
  left: 8px;
  background-color: var(--backgroundBlack);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 60px;
  opacity: 0.8;
}

.menu__mobile--icon:hover{
  opacity: 1;
  background-color: var(--orangeTitle);
}

.menu__mobile--icon p{
  color: var(--textWhite);
  font-size: 1.2rem;
}

.listItem, .listItemArticle, .listItemFood, .listItemComment{
  opacity: 0;
}

.menu{
  width: 90%;
  padding: 0 22px;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column; 
  margin-bottom: 8px;
}

.padding__menu{
  padding: 16px;
}

.menu__shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;

}

.rotateIcon{
  transform: rotate(360deg) !important;
}

.menu__home{
  font-size: 1.6rem;
  color: var(--textBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.menu__home span{
  opacity: 0.8;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('../Assets/icons/arrowDown.png') center/cover no-repeat;
  transform: rotate(180deg);
  
}

.menu__home--list,.menu__article--list, .menu__food--list,.menu__comment--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu__home--list li , .menu__article--list li , .menu__food--list li, .menu__comment--list li{
  font-size: 1.3rem;
  color: var(--textBlack);
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto
}

.menu__home--list li span, .menu__article--list li span , .menu__food--list li span, .menu__comment--list li span{
  opacity: 0.8;
  display: inline-block;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
  background: url('../Assets/icons/arrowDown.png') center/cover no-repeat;
}

.menu__actions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 175px auto 20px auto;
  gap: 16px;
}

.menu__actions p{
  font-size: 1.5rem;
  font-family: inherit;
  padding: 8px;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  opacity: 0.5;
  letter-spacing: 0.1rem;
}

.menu__actions p:hover{
  opacity: 1;
}

.menu__actions p:nth-child(1){
  background-color: var(--backgroundButtons);
}

.menu__actions p:nth-child(2){
  background-color: var(--backgroundBlack);
  color: var(--textWhite);
}

.menu__actions p:nth-child(3){
  background-color: #00FF00;
  color: var(--textWhite);
  grid-column: 1 / 3;
}

.menu__network{
  display: flex;
  width: 90%;
  margin: 100px auto 0 auto;
  justify-content: space-between;
  
}

.menu__network li{
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.1rem;

}

@keyframes moveOut{
  from{
    opacity: 1;
    transform: translateX(0);

  }

  to{
    opacity: 0;
    transform: translateX(70vw);

  }
}

@keyframes moveIn{
  from{
    opacity: 0;
    transform: translateX(70vw);

  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}

/*Header Styles*/

.intro__page{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('../Assets/img/backGroundBlackMobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.animate{
  animation: moveUp 2s forwards;

}

@keyframes moveUp{
    from{
        transform: translateY(0);

    }
    to{
        transform: translateY(-100vh);

    }
}


.discover{
  
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-image: url('../Assets/img/backGroundWhite.jpg');
}

.discover .cards__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 16px;
    width: 80%;
    place-items: center;
    margin: 10px auto 24px auto;
  
    
}

.recipies__cards--content{
  height: 340px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  scroll-snap-align: start;
  display: flex;
  flex-shrink: 0;
  width: 80%;
  flex-direction: column;
  animation: cardOpacity 1.2s ease-in-out forwards;
  opacity: 0;

}

@keyframes cardOpacity{
  from{
    opacity: 0;

  }

  to{
    opacity: 1;

  }
}

.recipe-1{
  animation-delay: 0.2s;
}

.recipe-2{
  animation-delay: 0.6s;
}

.recipe-3{
  animation-delay: 1s;
}


.recipe-4{
  animation-delay: 1.4s;
}

.recipe-5{
  animation-delay: 1.8s;
}

.recipe-6{
  animation-delay: 2.2s;
}

.recipies__cards--hero{
  background-color: var(--backgroundBlack);
  border-radius: 8px;
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
  
}

.white__heart{
  background-image: url('../Assets/icons/heartrecipe.svg');

}

.orange__heart{
  background-image: url('../Assets/img/orangeH.png');

}

.recipies__cards--icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  position: absolute;
  left: 12px;
  top: 12px;
  transform: scale(1);

}

.recipies__cards--recipe {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  align-self: center;
  top: 4px;
 
}

 .recipies__cards--info {
    margin-top: 20px;
    padding: 0 16px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .recipies__cards--info p:nth-child(1) {
    color: var(--orangeTitle);
    font-size: 1rem;
    font-family: var(--Regular);
    align-self: center;
    letter-spacing: 1.2px;
  }
  
  .recipies__cards--info p:nth-child(2) {
    align-self: center;
    color: var(--textBlack);
    font-size: 2.5rem;
    font-weight: var(--bold);
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  
  .recipies__cards--info p:nth-child(3) {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: var(--light);
    color: var(--textBlack);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .recipies__cards--info button:nth-child(4) {
    outline: none;
    border: none;
    background-color: var(--backgroundBlack);
    color: var(--textWhite);
    width: 80%;
    align-self: center;
    border-radius: 50px;
    padding: 7px 0;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-family: inherit;
  }

  .recipies__cards--info button:nth-child(4):hover{
    background-color: var(--backgroundButtons);
    color: var(--textBlack);
  }

  .recipies__cards--img{
    width: 120px;
    height: 120px; 
  }

  
.nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.nav__list{
  display: none;
}

.up{
  transform: rotate(180deg);
}

.nav__text {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    cursor: pointer;
    
    
  }
  
  .nav__text p:first-child {
    
    font-size: 2.2rem;
    color: var(--orangeTitle);
    font-weight: 300;
    letter-spacing: 0.3rem;
    
  }

  .nav__text p:last-child {
    font-size: 1.2rem;
    color: var(--textWhite);
    font-weight: 200;
    position: relative;
    top: 1.2px;
    letter-spacing: 0.2rem;
    padding-left: 4px;
  }

  .block{
    display: block;
    padding: 24px 0;
  }

  .nav .nav__icon{
        display:inline-block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-image: url('../Assets/img/menuMobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: center; 
  }

  .discover header .nav__content{
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 24px 0 20px 0;
  }

  .nav__content--text{
    display: flex;
    flex-direction: column;
  }

   .title{
    font-size: 2rem;
    text-align: center;
    color: var(--textBlack);
    
  }

  .subtitle{
    font-size: 1.4rem;
    margin-bottom: 16px;
    align-self: center;
    text-align: center;
    color: var(--textBlack);
  }

  .desc{
    color: var(--textBlack);
    text-align: center;
  }

  .nav__content--text button{
    margin-top: 20px;
    border-radius: 12px;
    width: 215px;
    border: none;
    outline: none;
    background-color: var(--backgroundButtons);
    padding: 6px 0;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
    opacity: 0.5;
  }

  .nav__content--text button:hover{
    opacity: 1;
  }
    
  .nav__content .nav__content--image{
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .discover .nav__icon{
    background-image: url('../Assets/icons/menu.png');

  }

  .discover .nav__list li:hover::before{
    color: var(--textBlack);
}

.discover .nav__list{
    animation: none;
    opacity: 1;
}

  /*Hero header styles*/

  .hero__container{
    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
    
  }
  .hero__text{
    
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  .hero__text--left,.hero__text--right{
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .hero__text--left{
    animation: left 1.2s ease-in-out 2.6s forwards;
    transform: translateX(-300px)
  }

  @keyframes left{
    from{
      transform: translateX(-300px)

    }

    to{
      transform: translateX(0px)

    }
  }

  .hero__text--right{
    transform: translateX(300px);
    animation: right 1.2s ease-in-out 3.2s forwards;
  }

  @keyframes right{
    from{
      transform: translateX(300px)

    }

    to{
      transform: translateX(0px)

    }
  }


  .arrow__up{
    background-image: url('../Assets/img/arrowUp.png');
  }

  .arrow__down{
    background-image: url('../Assets/img/arrowDown.png');
  }

  .arrow__up, .arrow__down{
    display: inline-block;
    width: 10px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text__up, .text__down{
    font-size:1rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;
  }

  .white{
    color: var(--textWhite);
  }

  .black{
    color: var(--textBlack);
  }
  .silver{
    background-color: var(--silvercard);
  }

  .gold{
    background-color: var(--goldcard);
  }

  .orange{
    color: var(--orangeTitle);
  }

  .bronze{
    background-color: #E5BF5C;
  }

  .text__middle{
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;

  }

  .hero__intro{
    
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    transform: translateY(-600px);
    animation: heroText 1.2s ease-in-out 2s forwards;
  }

  @keyframes heroText{
    from{
      transform: translateY(-600px);
      opacity: 0;
    }

    to{
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .hero__intro p:first-child{
    color: var(--orangeTitle);
    font-size: 4rem;
    font-weight: var(--medium);
    letter-spacing: 0.5rem;
  }

  .hero__intro p:last-child{
    color: var(--textWhite);
    font-size: 1.5rem;
    font-weight: var(--Regular);
    letter-spacing: 0.5rem;
    line-height: 1.6rem;
  }

  .hero__action{
    
    width: 85%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

 

  .main__button{
    justify-self: center;
    border-radius: 12px;
    width: 215px;
    border: none;
    outline: none;
    background-color: var(--backgroundButtons);
    padding: 6px 0;
    color: var(--textWhite);
    letter-spacing: 0.2rem;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
    animation: buttonOpacity 1s ease-in-out 4.5s forwards;
    opacity: 0;

  }

  @keyframes buttonOpacity{
    from{
      display: none;
      opacity: 0;

    }
    to{
      display: block;
      opacity: 0.5;
    }
  }

  .discover .nav__text .black{
    color: var(--textBlack);
  }

  .nav__button{
    display: flex;
    justify-content: center;
  }

  header .nav__button button{
    margin-top: 20px;
    border-radius: 12px;
    width: 215px;
    border: none;
    outline: none;
    background-color: var(--backgroundButtons);
    padding: 6px 0;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
    margin-bottom: 28px;
    animation: buttonOpacity 1.6s ease-in-out 2.5s forwards;
    opacity: 0;
  }

  @keyframes buttonOpacity{
    from{
      opacity: 0;

    }
    to{
      opacity: 0.5;
    }
  }

  header .nav__button button:hover{
    opacity: 1 !important;
  }

  /*Values container*/

  .love__container{
    
    padding: 16px 0;
    background-image: url('../Assets/img/backgroundDesktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  .love__hero{
    width: 90%;
    margin: 0 auto;
    padding: 0px 0px 16px 0px;
    display: grid;
  }

  

  .love__hero--left{
    width: 100%;
  }

  .love__hero--icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/img/heartNeon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .love__cards{
    width: 100%;
    margin-top: 24px;
  }

  .love__cards--content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    width: 90%;
    margin: 0 auto;
    gap: 16px;
  }

  .love__card{
    padding: 12px 12px 20px 12px;
    border-radius: 8px;
    border: 1px solid var(--orangeTitle);
    cursor: pointer;
    
  }

  .love__card:hover , .menu__one:hover{
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);

  }

  .love__card .subtitleCard{
    opacity: 0.8;
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--Regular);
    margin-bottom: 4px;

  }

  .love__card .titleCard{
    color: var(--textWhite);
    font-size: 2.5rem;
    font-weight: var(--bold);
    margin-bottom: 4px;
    
  }

  .love__card .descCard{
    color: var(--textWhite);
    font-size: 1.3rem;
    font-weight: var(--light);
    margin-bottom: 12px;
    text-align: justify;
    opacity: 0.8;
  }

  /*Menu*/

  .menu__container{
    margin-top: 40px;
  }

  .menu__button{
    width: 100%;
  }

  .menu__one{
    width: 90%;
    height: auto;
    margin: 40px auto;
    border-radius: 12px;
    padding: 12px 16px;
    border: 1px solid var(--orangeTitle);
    cursor: pointer;
    animation: menuOpacity 1.2s ease-out 0.3s forwards;
    opacity: 0;

}

@keyframes menuOpacity{
  from{
    opacity: 0;

  }

  to{
    opacity: 1;

  }
}



.menu__header{
    display: flex;
    align-items: center;

}


.menu__header--text{
    display: flex;
    align-items: center;
}

.plate__description{
    width: 100%;
}

.menu__header--text .menu__header--title{
    font-size: 4rem;
    margin-right: 10px;
    color:#EA6300;
    left: 0.5rem;
    
}

.menu__header--text .menu__header--subtitle{
    font-size: 2rem;
    color: white;
    letter-spacing: 0.2rem;
    margin-left: 8px;
}

.menu__content .plate__title{
    font-size: 2.8rem;
    letter-spacing: 0.4rem;
    color:#EA6300;
    margin: 0;
    
}

.menu__content .plate__name{
    display: flex;
    align-items: center;
}

.menu__content .plate__name > p{
    font-size: 2rem;
    color:#EA6300;
    margin-right: 12px;
    opacity: 0.8;
}

.plate__name .plate__name--price{
    display: flex;
    
}

.plate__name .plate__name--price p:first-child{
    opacity: 0.5;
    color: white;
    font-size: 2rem;
    margin-right: 6px;
}

.plate__name .plate__name--price p:last-child{
    font-size: 1.5rem;
    color:#EA6300;
    opacity: 0.9;
    top: 4px;
    letter-spacing: 0.1rem;
}

.menu__content .plate__description{
   margin: 0;
   color: white;
   opacity: 0.6;
   
   font-weight: thin;
}

.menu__button , .menu__visit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu__button button , .menu__visit button{
    width: 215px;
    border: none;
    outline: none;
    background-color: #EA6300;
    padding: 6px 0;
    color: white;
    letter-spacing: 0.2rem;
    border-radius: 12px;
    opacity: 0.5;
    cursor: pointer;
    font-family: inherit;
    
    
}

.menu__button button:hover , .menu__visit button:hover{
    opacity: 1;
}


.menu__hamburguer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;

}

.hamburguerOne, .hamburguerTwo, .hamburguerThree{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   


}

.hamburguerOne {
    background-image: url('../Assets/img/recipeone.png');
    top: -25px;
    left: 10px;
    


}

.hamburguerTwo {
    
    background-image: url('../Assets/img/recipetwo.png');
    top: -4px;
   
    
}

.hamburguerThree {
    top: 12px;
    left: 10px;
    background-image: url('../Assets/img/recipethree.png');
    
}
.menu__containerOne{
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 8px;
}

.breakfastOne{
    grid-column: 1 / 2;
    
}

.breakfastTwo{
    grid-row: 2 / 3;
}

.breakfastThree{
    grid-row: 3 / 4;
}

.breakfast{
    margin-top: 20px;
}

.lunch, .dinner{
    margin-top: 45px;
}

.visit{
    margin-top: 40px;
    margin-bottom: 15px;
}

/*Learn content*/

.recipies__learn{
  background-image: url('../Assets/img/backGroundWhite.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding:16px 0 ;
}


.recipies__experts--hero{
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 4px;
}

/* .recipies__experts span:nth-child(1){
  color: var(--textWhite);
  font-size: 2rem;
  font-weight: var(--medium);

}

.recipies__experts span:nth-child(2){
  color: var(--orangeTitle);
  font-size: 2rem;
  font-weight: var(--medium);
  
}

.recipies__experts span:nth-child(3){
  color: var(--textWhite);
  font-size: 2rem;
  font-weight: var(--medium);
  
}

.recipies__experts p:nth-child(4){
  color: var(--textWhite);
  font-size: 2rem;
  font-weight: var(--medium);
}

.recipies__experts--text{
  opacity: 0.6;
  text-align: justify;
  font-size: 1.3rem;
  font-weight: var(--light);
  margin-bottom: 8px;
  color: var(--textWhite);
} */



.learn__container{
  width: 100%;
  background-color: var(--backgroundBlack);
}

.recipies__learn--hero{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  width: 90%;
  margin: 0 auto 40px auto;
}

.recipies__learn .menu__button .menu__view{
  color: var(--textBlack);
}

.recipies__experts {
  border: none; /* Quitar el borde */
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px 12px 20px 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1); /* Agregar un box shadow similar al de Google */
  cursor: pointer;
  transition:box-shadow  0.3s;
}

.recipies__experts:hover{
  box-shadow: 0 4px 6px rgba(234, 99, 0, 0.5), 0 1px 3px rgba(234, 99, 0, 0.6);
}

/* .recipies__experts:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1)
} */


.learn__content{
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  
  
}



/* .learn__text:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1)

} */
/* .learn__text p:first-child{
  opacity: 0.8;
  color: var(--textWhite);
  text-align: center;
  margin-bottom: 4px;
  font-weight: var(--medium);
  font-size: 2rem;
}

.learn__text p:first-child span{
  color: var(--orangeTitle);
}

.learn__text p:last-child{
  opacity: 0.6;
  text-align: justify;
  font-size: 1.3rem;
  font-weight: var(--light);
  margin-bottom: 8px;
  color: var(--textWhite);
}
 */


.learn__experience{
  margin-top: 12px;
  display: grid;
  width: 90%;
  margin: 20px auto;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
}

/* .learn__experience--text{
  text-align: center;
}

 .learn__experience--text p span{
  color: var(--orangeTitle);
}

.learn__experience--text p{
  opacity: 0.8;
  color: var(--textWhite);
  font-weight: var(--medium);
  font-size: 2rem;
}  */



.learn__card--item {
    border: none;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 12px 12px 20px 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s;
    animation-name: fadeIn;
    animation-name: fadeOut;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}






.learn__card--item:hover{
  box-shadow: 0 4px 6px rgba(234, 99, 0, 0.5), 0 1px 3px rgba(234, 99, 0, 0.6);

}


.learn__card--item p:nth-child(1){
  color: var(--orangeTitle);
  font-size: 1rem;
  margin-bottom: 4px;

}

 .learn__card--item p:nth-child(2){
  color: var(--textBlack);
  font-weight: var(--medium);
  font-size: 2.5rem;
  margin-bottom: 4px;
  
} 

.learn__card--item p:nth-child(3){
  text-align: justify;
  font-size: 1.3rem;
  font-weight: var(--light);
  color: var(--textBlack);
} 

.recipies__learn .nav__content{
  width: 90%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 40px;
  place-items: center;
}

.nav__recipieImg{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../Assets/img/chefExpert.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*Plans container*/

.plans__container{
  width: 100%;
  padding: 16px 0;
}

.plans__content{
  width: 90%;
  display: grid;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 16px;
}








/* .plans--title{
  opacity: 0.8;
  font-size: 2rem;
  font-weight: var(--medium);
  letter-spacing: 0.2rem;
}

.plans--subtitle{
  opacity: 0.8;
  font-size: 1.6rem;
  font-weight: var(--Regular);
  margin-bottom: 4px;
  line-height: 1.6rem;
  
  
}

.plans--desc{
  opacity: 0.6;
  font-size: 1.3rem;
  width: 85%;
  font-weight: var(--light);
  text-align: justify;
} */


/* .plans__pocket--right{

  opacity: 0.8;
  display: flex;
  align-items: center;
  width: 50%;
  gap: 4px;
  justify-content: end;
}

.plans__pocket--right-text{
  text-align: center;
}


.plans__pocket--right span{
  rotate: 180deg;
} */


.plans__container {
  width: 100%;
  height: auto;
  background: url('../Assets/img/backgroundDesktop.jpg') center/cover no-repeat;
}

.plans__description--left p:first-child{
  margin-bottom: 4px;
}

 .plans__cards{

  width: 90%;
  margin: 12px auto;
  padding: 8px 8px;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  white-space: nowrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}





.plans__card{

  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  background: url('../Assets/img/backGroundWhite.jpg') center/cover no-repeat;

} 




.plans__card--hero{
   border-radius: 8px;
   padding: 12px 12px 16px 12px;
   color: var(--textBlack);
   display: flex;
   flex-direction: column;
   align-items: start;
}

.plans__card--hero p:nth-child(2){
  font-weight: var(--bold);
  font-size: 3.8rem;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
}

.plans__card--hero p:nth-child(1){
  font-weight: var(--bold);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 16px;

}

.plans__card--hero p:nth-child(3){
  font-weight: var(--light);
  font-size: 1.2rem;
  
  
}

.plans__card--desc{
  padding: 16px 12px 12px 12px;
}

.plans__card--desc p{
  display: flex;
  align-items: center;
  gap: 8px;  
  margin-bottom: 4px;  
  color: var(--textBlack);
  font-weight: var(--Regular);
  font-size: 1.2rem;
}

.plans__card--desc p::before{
  
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../Assets/icons/checkplans.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  
}

.plans__button{
  align-self: center;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius:40px;
  width: 60%;
  padding: 8px 0;
  cursor: pointer;
  color: var(--textBlack);
  font-size: 1.2rem;
  font-weight: var(--bold);
  font-family: inherit;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}

.plans__button:hover{
  opacity: 1;
}

.plans__card--price{
  display: flex;
  color: var(--textBlack);
  align-items: center;
  
}

.plans__card--price p:nth-child(1){
  font-size: 14px;
  font-weight: var(--medium);
  position: relative;
  top: 7px;


}

.plans__card--price p:nth-child(2){
  font-size: var(--H1);
  font-weight: var(--bold);
  
}

.plans__card--price p:nth-child(3){
  font-size: 12px;
  font-weight: var(--medium);
  position: relative;
  left: 2px;
  bottom: 9px;
  
}


.plans__card--price p:nth-child(4){
  font-size: var(--H3);
  font-weight: var(--medium);
  position: relative;
  top: 2px;
  
}

.plans__card--price p:nth-child(5){
  font-size: var(--PLight);
  font-weight: var(--light);
  position: relative;
  left: 2px;
  top: 4px;
  
}

/* .plans__container .menu__button .menu__view{
  color: var(--textBlack);
} */

/*Footer*/

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.footer__up {
  width: 85%;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__up--left p span{
  color: var(--orangeTitle);
}

.footer__up--left p {
  color: var(--textBlack);
  font-weight: var(--medium);
  font-size: 1rem;
  letter-spacing: 1px;
  
}

.footer__up--right ul{
  display: flex;
  list-style: none;
}

.footer__up--right ul li{
  margin-right: 4px;
  color: var(--textBlack);
  font-weight: var(--medium);
  font-size: 1rem;
  cursor: pointer;
  
}

.footer__up--right ul li::after{
  content: " | ";
  color: var(--orangeTitle);
}

.footer__up--input {
  height: 32px; 
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out; 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  width: 324px;
  display: none;
  
}

.footer__up--input:focus {
  box-shadow: 0 0 0 1px var(--orangeTitle);
  outline: none;
  
}

.footer__up--button{
  height: 32px;
  border-radius: 8px;
  border:none ;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 16px;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: var(--orangeTitle);
  color: var(--textBlack);
  cursor: pointer; 
  opacity: 0;
  animation-name: opacitySign;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  
}

@keyframes opacitySign{
  from{
    opacity: 0;

  }

  to{
    opacity: 0.5;

  }
}

.footer__up--button:hover{
  opacity: 1 !important; 
}




.footer__down {
  background-color: var(--backgroundBlack);
  padding: 12px 0 16px;
  opacity: 0.97;
}

.footer__down--content{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

}

.footer__down--left{
  border-top:1px solid var(--orangeTitle) ;
  width: 18%;
}

.footer__down--center p{
  color: var(--textWhite);
  font-size: 1rem;
  font-weight: var(--Regular);
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__down--center p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../Assets/icons/heartfooter.svg') no-repeat center/contain;
}

.footer__down--right{
  border-top:1px solid var(--textWhite) ;
  width: 18%;
}

.login__content, .subscripe__content{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  display: grid;
  place-items: center;
}

.login__item, .subscribe__item{
  z-index: 1;
  width: 70vw;
  height: 85vh;
  background-color: var(--backgroundBlack);
  border-radius: 8px;
  animation-name: loginOpacityIn;
  animation-name: loginOpacityOut;
  padding: 30px 16px 28px 16px;
}

@keyframes loginOpacityIn{
  from{
    opacity: 0;
    transform: scale(0.9);

  }

  to{
    opacity: 1;
    transform: scale(1);

  }
}

@keyframes loginOpacityOut{
  from{
    opacity: 1;
    transform: scale(1);
  }

  to{
    opacity: 0;
    transform: scale(0.9);

  }
}

.login__item .login__item--title{
  font-size: 1.6rem;
  color: var(--textWhite);
  letter-spacing: 0.1rem;
  margin-bottom: 36px;
}

.login__item--data{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__item--data .login__username, .login__password, .login__name, .login__lastName, .login__confirmPassword, .login__email{
  width: 100%;
  border-radius: 18px;
  border: 1px solid var(--orangeTitle);
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 12px 8px;
  align-items: center;
}

.activeInput{
  opacity: 1;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
}

.name__container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 8px;
  width: 100%;
}



.login__username span:nth-child(1){
  background-image: url('../Assets/icons/profileIcon.png');
  
}

.login__password span:nth-child(1){
  background-image: url('../Assets/icons/passwordIcon.png');
  
}

.spanIconText{
  color: var(--textWhite);
  cursor: pointer;
  opacity: 0;
  letter-spacing: 0.09rem;
  display: flex;
  align-items: center;
}

.spanIcon {
  display: inline-block;
  opacity: 0;
  animation-name: opacityInputIcon;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes opacityInputIcon{
  from{
    opacity: 0;

  }

  to{
    opacity: 1;

  }
}

.inputContent{
  outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 8px;
    color: var(--textWhite);
}



.login__forgot{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.login__forgot--remember{
  display: flex;
  gap: 8px;
}



.login__privacy{
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 16px;
}

.login__privacy--text p{
  opacity: 0.5;
}

.login__privacy input[type='checkbox']:checked + .login__privacy--text p {
  opacity: 1;
  transform: scale(1.1);
}

.login__privacy input[type='checkbox']:checked + .login__privacy--text p span {
  opacity: 1;
  transform: scale(1.1);
}



.login__privacy p{
  color: var(--textWhite);
  font-size: 1.2rem;

}

.login__privacy p span{
  color: var(--orangeTitle);

}

.login__forgot input:nth-child(1), .login__privacy input:nth-child(1){
  border-radius: 20%;
    background: var(--orangeTitle);
    width: 16px;
    height: 16px;
    appearance: initial;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login__forgot input:nth-child(1):checked, .login__privacy input:nth-child(1):checked{
  opacity: 1;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--textWhite);
}

.login__privacy input:nth-child(1):checked::after,.login__forgot input:nth-child(1):checked::after{
  content: '√';
  
}

.login__forgot--remember input[type="checkbox"]:checked + p {
  opacity: 1;
  letter-spacing: 0.1rem;
}

.login__forgot .loginForgot__pswd{
  font-size: 1.2rem;
  color: var(--orangeTitle);
  opacity: 0.6;
}



.login__forgot .loginForgot__pswd:hover{
  transform: scale(1.1);
  opacity: 1;
}

.login__forgot--remember p:last-child{
  font-size: 1.2rem;
  color: var(--textWhite);
  opacity: 0.6;

}



 .login__privacy p:nth-child(2){
  font-size: 1.2rem;
  color: var(--textWhite);
  opacity: 0.8;
  

 }

.login__forgot p:nth-child(3){
  font-size: 1.2rem;
  color: var(--orangeTitle);
  opacity: 0.6;
  
}

.login__button{
  margin-top: 30px;
}

.login__button button {
  width: 100%;
  padding: 12px 16px;
  font-size: 1.4rem;
  color: var(--textWhite);
  letter-spacing: 0.1rem;
  border-radius: 80px;
  outline: none;
  background: var(--orangeTitle);
  border: none;
  font-family: inherit;
  opacity: 0.6;
   }

   .login__button button:hover{
    opacity: 1;
   }

.login__item--network{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}
.login__item--network__title{
  text-align: center;
  font-size: 1.4rem;
  color: var(--textWhite);
  
}


.login__item--network__social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.login__item--network__social span{
  display: inline-block;
  width: 36px;
  height: 36px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  cursor: pointer;
}

.login__item--network__social span:hover{
  opacity: 1;
  transform: scale(1.2);
}

.login__item--network__social span:nth-child(1){
  background-image: url('../Assets/icons/facebookIcon.png');

}

.login__item--network__social span:nth-child(2){
  background-image: url('../Assets/icons/instaIcon.png');
  
}

.login__item--network__social span:nth-child(3){
  background-image: url('../Assets/icons/githubIcon.png');
  
}
.login__item--network__forgot{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.login__item--network__forgot p:first-child{
  color: var(--textWhite);
  font-size: 1rem;
  opacity: 0.6;

}

.login__item--network__forgot p:first-child:hover{
  opacity: 1;
  transform: scale(1.1);
}


.login__item--network__forgot p:last-child{
  color: var(--orangeTitle);
  font-size: 1rem;
  opacity: 0.6; 
  text-align: center;
}

.login__item--network__forgot p:last-child:hover{
  opacity: 1;
  transform: scale(1.1);
}

.signContent{
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 12px;
  position: relative;
  top: 24px;
}

.signContent p:first-child,.signContent p:last-child{
  font-size: 1rem;
  opacity: 0.6;
}

.signContent p:first-child:hover,.signContent p:last-child:hover{
  opacity: 1;
  transform: scale(1.1);
}

.signContent p:first-child{
  color: var(--textWhite);

}

.signContent p:last-child{
  color: var(--orangeTitle);
  
}

/*Subscribe*/

.subscribe__item{
  padding: 30px 16px 28px 16px;
  display: flex;
  flex-direction: column;
}

.subscribe__item--title{
  color: var(--textWhite);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 16px;
}

.subscribe__item--list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  opacity: 0.7;
}



.subscribe__item--list li{
  color: var(--textWhite);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.subscribe__item--list li>span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--orangeTitle);
  
}

.subscribe__item--cards{
  width: 90%;
  margin: 26px auto 36px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.subscribe__item--card{
  padding: 16px 12px;
  border: 1px solid var(--orangeTitle);
  border-radius: 12px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 85% 15%;
  place-items: center;
}

.subscribe__item--card:hover{
  box-shadow: 0 2px 4px #EA6300;

}

.subscribe__item--card-text{
  width: 100%;
}

.subscribe__item--card-text p:first-child{
  font-size: 1.5rem;
  color: var(--textWhite);

}

.subscribe__item--card-text p:last-child{
  font-size: 1.2rem;
  color: var(--textWhite);
}

.subscribe__item--card-text p:last-child > span{
  font-size: 1rem;
  color: var(--textWhite);
  opacity: 0.6;
}


.subscribe__item--card-circle{
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--textWhite);
  border-radius: 50%;
  cursor: pointer;
}

.subscribe__item--card-circle:hover{
  background-color: var(--orangeTitle);
  opacity: 0.8;
  border: none;
}

.subscribe__item--btn{
  width: 100%;
}

.subscribe__item--btn button{
  width: inherit;
  background-color: var(--orangeTitle);
  border-radius: 26px;
  font-family: inherit;
  outline: none;
  color: var(--textWhite);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 10px 0;
  border: none;
  opacity: 0.6;
}

.subscribe__item--btn button:hover{
  opacity: 1;
}



  

  
  

