.intro__page{
    background-image: url('../Assets/img/backgroundDesktop.jpg'); 
}

.hero__intro p:first-child{
    font-size: 8.5rem;
}

.hero__intro p:last-child{
    font-size: 3.5rem;
}

.text__up, .text__down{
    font-size: 1.5rem;

}

.text__middle{
    font-size: 1.3rem;

}

.arrow__up, .arrow__down{
    height: 100%;
}

.nav__text p:first-child{
    font-size: 2.8rem;

}

.nav__text p:last-child{
    font-size: 1.8rem;

}

.nav__list li{
    font-size: 1.8rem;
}

.account, .shopping__cart{
    width: 40px;
    height: 40px;
}

.main__button{
    width: 200px;
    font-size: 1.6rem;
}

.title{
    font-size: 3.8rem;
  }

  .subtitle{
    font-size: 2.8rem;
    
  }

  .desc{
    font-size: 1.8rem;
  }

  .nav__content--text button{
    font-size: 1.8rem;
    margin-top: 30px;
  }

  .recipies__cards--content{
    width: 260px;

  }

  .recipies__cards--content{
    width: 100%;
  }

  .recipies__cards--icon{
    width: 24px;
    height: 24px;
  }

  .recipies__cards--recipe{
    width: 140px;
    height: 140px;
  }

  .recipies__cards--info p:nth-child(1), .love__card p:nth-child(1){
    font-size: 1.3rem;

  }
  .recipies__cards--info p:nth-child(2), .love__card p:nth-child(2){
    font-size: 2.8rem;

  }
  .recipies__cards--info p:nth-child(3), .love__card p:nth-child(3){
    font-size: 1.6rem;

  }
  .recipies__cards--info button:nth-child(4){
    font-size: 1.5rem;

  }

  .valuesButton,.main__button {
    font-size: 1.8rem;
   
  }

  /*Menu*/

  .menu__one{
    width: 30%;
  }

 .menu__button button{
  font-size: 1.8rem;
 }

 

  
  

  