*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
    font-family: 'Onest', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Young Serif', serif;
}


:root{

     /*colors*/
    --backgroundBlack: #2d2d2e;
    --backgroundButtons: #FE903F;
    --orangeTitle: #EA6300;
    --backgroundCards: #2C2E30;
    --textWhite: #EFF1E5;
    --textBlack: #292828;
    --silvercard: #BFBFBF;
    --goldcard: #F9DE4F; 

    /*font-text*/

    --H1 : 3.8rem;
    --H2 : 3rem;
    --H3: 2rem;
    --P : 1.6rem;
    --PLight: 0.9rem;
    --PExtraLight: 0.8rem;

     /*font-weight* 100 300 400 500 700*/

     --thin: 100;
     --light: 300;
     --Regular: 400;
     --medium: 500;
     --bold: 700;

}

.inactive{
  display: none;
  visibility: hidden;
}

body{
  position: relative;
}

/*Loader*/

.loader{
  background-color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1.5s linear forwards;
}

@keyframes loader{
  0%{
      visibility: visible;
      opacity: 1;

  }

  95%{
      visibility: visible;
      opacity: 1;

  }

  100%{
      visibility: hidden;
      opacity: 0;

  }
}

.loader div{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orangeTitle);
  transform: scale(0);
  animation: scale 1.2s ease-in-out infinite;
  margin: 8px;
}

.loader div:nth-child(1){
  animation-delay: 0.2s;

}

.loader div:nth-child(2){
  animation-delay: 0.4s;
  
}

.loader div:nth-child(3){
  animation-delay: 0.6s;
  
}
@keyframes scale{
  0%,100%{
      transform: scale(1);

  }

  50%{
      transform: scale(.2);

  }
}

/*Header Styles*/

.intro__page{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('../Assets/img/backGroundBlackMobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.animate{
  animation: moveUp 2s forwards;

}

@keyframes moveUp{
    from{
        transform: translateY(0);

    }
    to{
        transform: translateY(-100vh);

    }
}






.discover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-image: url('../Assets/img/backGroundWhite.jpg');
}

.discover .cards__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 16px;
    width: 80%;
    place-items: center;
    margin: 10px auto 24px auto;
  
    
}

.recipies__cards--content{
  height: 340px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  scroll-snap-align: start;
  display: flex;
  flex-shrink: 0;
  width: 80%;
  flex-direction: column;
  animation: cardOpacity 1.2s ease-in-out forwards;
  opacity: 0;

}

@keyframes cardOpacity{
  from{
    opacity: 0;

  }

  to{
    opacity: 1;

  }
}

.recipe-1{
  animation-delay: 0.2s;
}

.recipe-2{
  animation-delay: 0.6s;
}

.recipe-3{
  animation-delay: 1s;
}


.recipe-4{
  animation-delay: 1.4s;
}

.recipe-5{
  animation-delay: 1.8s;
}

.recipe-6{
  animation-delay: 2.2s;
}





.recipies__cards--hero{
  background-color: var(--backgroundBlack);
  border-radius: 8px;
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
  
}

.white__heart{
  background-image: url('../Assets/icons/heartrecipe.svg');

}

.orange__heart{
  background-image: url('../Assets/img/orangeH.png');

}

.recipies__cards--icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  position: absolute;
  left: 12px;
  top: 12px;

}

.recipies__cards--recipe {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  align-self: center;
  top: 4px;
 
}

 .recipies__cards--info {
    margin-top: 20px;
    padding: 0 16px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .recipies__cards--info p:nth-child(1) {
    color: var(--orangeTitle);
    font-size: 1rem;
    font-family: var(--Regular);
    align-self: center;
    letter-spacing: 1.2px;
  }
  
  .recipies__cards--info p:nth-child(2) {
    align-self: center;
    color: var(--textBlack);
    font-size: 2.5rem;
    font-weight: var(--bold);
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  
  .recipies__cards--info p:nth-child(3) {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: var(--light);
    color: var(--textBlack);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .recipies__cards--info button:nth-child(4) {
    outline: none;
    border: none;
    background-color: var(--backgroundBlack);
    color: var(--textWhite);
    width: 80%;
    align-self: center;
    border-radius: 50px;
    padding: 7px 0;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-family: inherit;
  }

  .recipies__cards--info button:nth-child(4):hover{
    background-color: var(--backgroundButtons);
    color: var(--textBlack);
  }

  .recipies__cards--img{
    width: 120px;
    height: 120px; 
  }

  

  
  

  


.nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    
    
}

.nav__list{
  display: none;
}

.up{
  transform: rotate(180deg);
}

.nav__text {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    cursor: pointer;
    
    
  }
  
  .nav__text p:first-child {
    
    font-size: 2.2rem;
    color: var(--orangeTitle);
    font-weight: 300;
    letter-spacing: 0.3rem;
    
  }

  .nav__text p:last-child {
    font-size: 1.2rem;
    color: var(--textWhite);
    font-weight: 200;
    position: relative;
    top: 1.2px;
    letter-spacing: 0.2rem;
    padding-left: 4px;
  }

  .block{
    display: block;
    padding: 24px 0;
  }

  .nav .nav__icon{
        display:inline-block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-image: url('../Assets/img/menuMobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: center; 
  }

  .discover header .nav__content{
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 24px 0 20px 0;
  }

  .nav__content--text{
    display: flex;
    flex-direction: column;
  }

   .title{
    font-size: 2rem;
    text-align: center;
    color: var(--textBlack);
    
  }

  .subtitle{
    font-size: 1.4rem;
    margin-bottom: 16px;
    align-self: center;
    text-align: center;
    color: var(--textBlack);
  }

  .desc{
    color: var(--textBlack);
    text-align: center;
  }

  .nav__content--text button{
    margin-top: 20px;
    border-radius: 12px;
    width: 215px;
    border: none;
    outline: none;
    background-color: var(--backgroundButtons);
    padding: 6px 0;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
    opacity: 0.5;
  }

  .nav__content--text button:hover{
    opacity: 1;
  }
    
  .nav__content .nav__content--image{
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .discover .nav__icon{
    background-image: url('../Assets/icons/menu.png');

  }

  .discover .nav__list li:hover::before{
    color: var(--textBlack);
}

.discover .nav__list{
    animation: none;
    opacity: 1;
}

  /*Hero header styles*/

  .hero__container{
    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
    
  }
  .hero__text{
    
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  .hero__text--left,.hero__text--right{
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .hero__text--left{
    animation: left 1.2s ease-in-out 2.6s forwards;
    transform: translateX(-300px)
  }

  @keyframes left{
    from{
      transform: translateX(-300px)

    }

    to{
      transform: translateX(0px)

    }
  }

  .hero__text--right{
    transform: translateX(300px);
    animation: right 1.2s ease-in-out 3.2s forwards;
  }

  @keyframes right{
    from{
      transform: translateX(300px)

    }

    to{
      transform: translateX(0px)

    }
  }


  .arrow__up{
    background-image: url('../Assets/img/arrowUp.png');
  }

  .arrow__down{
    background-image: url('../Assets/img/arrowDown.png');
  }

  .arrow__up, .arrow__down{
    display: inline-block;
    width: 10px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text__up, .text__down{
    font-size:1rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;
  }

  .white{
    color: var(--textWhite);
  }

  .black{
    color: var(--textBlack);
  }
  .silver{
    background-color: var(--silvercard);
  }

  .gold{
    background-color: var(--goldcard);
  }

  .orange{
    color: var(--orangeTitle);
  }

  .bronze{
    background-color: #E5BF5C;
  }

  .text__middle{
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--Regular);
    letter-spacing: 0.2rem;

  }

  .hero__intro{
    
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    transform: translateY(-600px);
    animation: heroText 1.2s ease-in-out 2s forwards;
  }

  @keyframes heroText{
    from{
      transform: translateY(-600px);
      opacity: 0;
    }

    to{
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .hero__intro p:first-child{
    color: var(--orangeTitle);
    font-size: 4rem;
    font-weight: var(--medium);
    letter-spacing: 0.5rem;
  }

  .hero__intro p:last-child{
    color: var(--textWhite);
    font-size: 1.5rem;
    font-weight: var(--Regular);
    letter-spacing: 0.5rem;
    line-height: 1.6rem;
  }

  .hero__action{
    
    width: 85%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

 

  .main__button{
    justify-self: center;
    border-radius: 12px;
    width: 215px;
    border: none;
    outline: none;
    background-color: var(--backgroundButtons);
    padding: 6px 0;
    color: var(--textWhite);
    letter-spacing: 0.2rem;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
    animation: buttonOpacity 1s ease-in-out 4.5s forwards;
    opacity: 0;

  }

  @keyframes buttonOpacity{
    from{
      display: none;
      opacity: 0;

    }
    to{
      display: block;
      opacity: 0.5;
    }
  }

  .discover .nav__text .black{
    color: var(--textBlack);
  }

  .nav__button{
    display: flex;
    justify-content: center;
  }

  header .nav__button button{
    margin-top: 20px;
    border-radius: 12px;
    width: 215px;
    border: none;
    outline: none;
    background-color: var(--backgroundButtons);
    padding: 6px 0;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
    margin-bottom: 28px;
    animation: buttonOpacity 1.6s ease-in-out 2.5s forwards;
    opacity: 0;
  }

  @keyframes buttonOpacity{
    from{
      opacity: 0;

    }
    to{
      opacity: 0.5;
    }
  }

  header .nav__button button:hover{
    opacity: 1 !important;
  }

  /*Values container*/

  .love__container{
    
    padding: 16px 0;
    background-image: url('../Assets/img/backgroundDesktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  .love__hero{
    width: 90%;
    margin: 0 auto;
    padding: 0px 0px 16px 0px;
    display: grid;
  }

  

  .love__hero--left{
    width: 100%;
  }

  .love__hero--icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/img/heartNeon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .love__cards{
    width: 100%;
    margin-top: 24px;
  }

  .love__cards--content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    width: 90%;
    margin: 0 auto;
    gap: 16px;
  }

  .love__card{
    padding: 12px 12px 20px 12px;
    border-radius: 8px;
    border: 1px solid var(--orangeTitle);
    cursor: pointer;
    
  }

  .love__card:hover{
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);

  }

  .love__card p:nth-child(1){
    opacity: 0.8;
    color: var(--orangeTitle);
    font-size: 1rem;
    font-weight: var(--Regular);
    margin-bottom: 4px;

  }

  .love__card p:nth-child(2){
    color: var(--textWhite);
    font-size: 2.5rem;
    font-weight: var(--bold);
    margin-bottom: 4px;
    
  }

  .love__card p:nth-child(3){
    color: var(--textWhite);
    font-size: 1.3rem;
    font-weight: var(--light);
    margin-bottom: 12px;
    text-align: justify;
    opacity: 0.8;
  }

  

  
  

