.intro__page{
    background-image: url('../Assets/img/backgroundDesktop.jpg'); 
}

.hero__intro p:first-child{
    font-size: 5rem;
}

.hero__intro p:last-child{
    font-size: 2rem;
}

.nav__icon{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.nav__list{
    display: block;
}

.nav__list{
    display: flex;
    list-style: none;
    align-items: center;
    animation: navOpacity 1.5s ease-in 4s forwards;
    opacity: 0;
}

@keyframes navOpacity{
    from{
        opacity: 0;

    }

    to{
        opacity: 1;

    }
}

 .nav__list li{
    font-size: 1.2rem;
    padding-right: 4px;
    font-weight: 300;
    letter-spacing: 1.3px;
    cursor: pointer;
} 

.nav__list li::before{
    content: " | ";
    color: var(--orangeTitle);
}

.nav__list li:hover::before{
    color: var(--textWhite);
}



.nav__list li:hover{
    color: var(--orangeTitle);
}
.account, .shopping__cart{
    background: url('../Assets/img/backGroundBlackDesktop.png') center/cover no-repeat;
    margin-left: 16px;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.account{
    background-image: url('../Assets/img/dogProfile.jpg'); 
}

.shopping__cart{
    background-image: url('../Assets/img/shoppingCartIcon.jpg');
}

.nav__content .nav__content--image{
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .discover header .nav__content{
    grid-template-columns: repeat(2,1fr);
  }

  .discover header .nav__content .nav__content--image{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url('../Assets/img/chefcito.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .title{
    font-size: 2.6rem;
  }

  .subtitle{
    font-size: 2rem;
  }

  .desc{
    font-size: 1rem;
  }

  .nav__content--text button{
   
    font-size: 1rem;
  }

  .recipies__cards--content{
    width: 100%;
  }

  .discover .cards__container{
    width: 90%;
  }

  .discover header .nav__content{
    padding: 30px 0 20px 0;

  } 

  .love__hero{
    grid-template-columns: repeat(2,1fr);
  }

  /*Menu*/

  .menu__header--text .menu__header--title {
    font-size: 4.5rem;

  }

.menu__header--text .menu__header--subtitle{
  font-size: 2.5rem;
  top: 4px;
  position: relative;

}

.menu__content .plate__title{
  font-size: 3.8rem;

}

.menu__content .plate__name > p{
  font-size: 2rem;

}

.plate__name .plate__name--price p:first-child{
  font-size: 1.8rem;

}

.plate__name .plate__name--price p:last-child{
  font-size: 1.4rem;
  position: relative;
  top: -4px;

}

.menu__content .plate__description{
  font-size: 1.2rem;
  margin-top: 4px;

}

.menu__one{
  width: 70%;
}


  